{% extends 'listings/base.html' %}

{% block content %}
    <h2>{{ listing.title }}</h2>

    <ul>
        <li>Description : {{ listing.description }}</li>
        <li>Vendu : {{ listing.sold | yesno }}</li>
        {% if listing.year_sold %}
            <li>Année de vente : {{ listing.year_sold }}</li>
        {% endif %}
        <li>Type : {{ listing.get_type_display }}</li>
        {% if listing.band %}
            <li>Groupe : </li>
        {% endif %}
    </ul>

    <a href="{% url 'listing' %}">Retour à tous les merchs</a>
{% endblock %}